<web-app>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>in.nit.controller</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	<servlet-name>test</servlet-name>
	<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>